<!doctype html>
<html lang="en">

<head>
    <title>Вхід в панель</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>


<body class="text-center">
    <div class="container" id="result"></div>
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Будь ласка, уввійдіть у свій обліковий запис</h1>
        <input type="login" id="login" class="form-control" placeholder="Логін" required autofocus>
        <input type="password" id="password" class="form-control" placeholder="Пароль" required>
        <button class="btn btn-lg btn-primary btn-block" onclick="login();">Ввійти</button>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/admin.js"></script>
</body>


</html>
